
            <h3 id="general_Sunday">Sunday</h3>
        <table class="scheduleTable">
            <thead>
                <tr>
                    <td></td>
                    <td>Hörsaal West</td>
                    </tr>
            </thead>
            <tbody>
                <tr>
                        <td class="fill-darken0">09:00</td>
                        <td rowspan="1" id="session_RZXQP3">
        <a href="/sessions/RZXQP3">Bridging the Map? Exploring Interactions between the Academic and Mapping Communities in OpenStreetMap</a>            <br><span class="speaker">A. Yair Grinberger, Marco Minghini, Levente Juhász, Peter Mooney, Godwin Yeboah</span>
</td>

                                                </tr>
                                <tr>
                        <td class="fill-darken0">09:30</td>
                        <td rowspan="1" id="session_L3CQMM">
        <a href="/sessions/L3CQMM">Lightning Poster Talks</a>            <br><span class="speaker">Various authors</span>
</td>

                                                </tr>
                                <tr>
                        <td class="fill-darken0">10:00</td>
                        <td rowspan="1" id="session_GRR3N3">
        <a href="/sessions/GRR3N3">Analysis of OSM data through OSM-Notes user posting</a>            <br><span class="speaker">Toshikazu Seto, Hiroshi Kanasugi, Yuichiro Nishimura</span>
</td>

                                                </tr>
                                <tr>
                        <td class="fill-darken0">10:30</td>
                        <td rowspan="1" id="session_7ZVYEH">
        <a href="/sessions/7ZVYEH">A novel application of models of species abundance to better understand OpenStreetMap Community structure and interactions</a>            <br><span class="speaker">Peter Mooney</span>
</td>

                                                </tr>
                                <tr>
                        <td class="fill-darken0">11:00</td>
                        <td colspan="1" class="fill-darken0 scheduleBreak">Coffee break</td>
                                            </tr>
                                <tr>
                        <td class="fill-darken0">11:30</td>
                        <td rowspan="1" id="session_TMGNLL">
    <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="This event will not be recorded.">    <a href="/sessions/TMGNLL">Towards Scalable Geospatial Remote Sensing for Efficient OSM Labeling</a>            <br><span class="speaker">Rui Zhang, Marcus Freitag, Conrad Albrecht, Siyuan Lu, Wei Zhang</span>
</td>

                                                </tr>
                                <tr>
                        <td class="fill-darken0">12:00</td>
                        <td rowspan="1" id="session_FQPFTP">
        <a href="/sessions/FQPFTP">Estimating latent energy demand of buildings</a>            <br><span class="speaker">Nikola Milojevic-Dupont, Peter-Paul Pichler, Lynn H. Kaack, Steffen Lohrey, Felix Creutzig</span>
</td>

                                                </tr>
                                <tr>
                        <td class="fill-darken0">12:30</td>
                        <td rowspan="1" id="session_GRJC7W">
        <a href="/sessions/GRJC7W">Client-side route planning: preprocessing the OpenStreetMap road network for Routable Tiles</a>            <br><span class="speaker">Harm Delva, Julián Andrés Rojas Meléndez, Ben Abelshausen, Pieter Colpaert, Ruben Verborgh</span>
</td>

                                                </tr>
                                <tr>
                        <td class="fill-darken0">13:00</td>
                        <td colspan="1" class="fill-darken0 scheduleBreak">Lunch</td>
                                            </tr>
                                <tr>
                        <td class="fill-darken0">14:00</td>
                        <td rowspan="1" id="session_F7ANUJ">
        <a href="/sessions/F7ANUJ">Intrinsic assessment of OpenStreetMap contribution patterns through Exploratory Spatial Data Analysis</a>            <br><span class="speaker">Marco Minghini, Daniele Oxoli, Francesco Frassinelli, Maria Antonia Brovelli</span>
</td>

                                                </tr>
                                <tr>
                        <td class="fill-darken0">14:30</td>
                        <td rowspan="1" id="session_W8BA9K">
        <a href="/sessions/W8BA9K">Corporate Editors in the Evolving Landscape of OpenStreetMap:  A Close Investigation of the Impact to the Map &amp; Community</a>            <br><span class="speaker">Jennings Anderson, Dipto Sarkar, Leysia Palen</span>
</td>

                                                </tr>
                                <tr>
                        <td class="fill-darken0">15:00</td>
                        <td rowspan="1" id="session_VPXQAV">
        <a href="/sessions/VPXQAV">Exploring the Effects of Pokémon Go Vandalism on OpenStreetMap</a>            <br><span class="speaker">Levente Juhász, Hartwig Hochmair, Sen Qiao, Tessio Novack</span>
</td>

                                                </tr>
                                <tr>
                        <td class="fill-darken0">15:30</td>
                        <td rowspan="1" id="session_9NVD77">
        <a href="/sessions/9NVD77">Analyzing the spatio-temporal patterns and impacts of large-scale data production events in OpenStreetMap</a>            <br><span class="speaker">A. Yair Grinberger, Moritz Schott, Martin Raifer, Rafael Troilo, Alexander Zipf</span>
</td>

                                                </tr>
                                <tr>
                        <td class="fill-darken0">16:00</td>
                        <td colspan="1" class="fill-darken0 scheduleBreak">Coffee break</td>
                                            </tr>
                                <tr>
                        <td class="fill-darken0">16:30</td>
                        <td rowspan="1" id="session_LKLEWQ">
        <a href="/sessions/LKLEWQ">Development after Displacement: Using OSM data to measure SDG indicators at informal settlements</a>            <br><span class="speaker">Jamon Van Den Hoek, Hannah Friedrich, Anna Ballasiotes, David Wrathall</span>
</td>

                                                </tr>
                                <tr>
                        <td class="fill-darken0">17:00</td>
                        <td rowspan="1" id="session_MWS9ZC">
        <a href="/sessions/MWS9ZC">Analysis of OpenStreetMap data quality at different stages of a participatory mapping process: Evidence from informal urban settings</a>            <br><span class="speaker">Godwin Yeboah, Rafael Troilo, Vangelis Pitidis, João Porto de Albuquerque</span>
</td>

                                                </tr>
                                <tr>
                        <td class="fill-darken0">17:30</td>
                        <td rowspan="1" id="session_WTWQYC">
        <a href="/sessions/WTWQYC">Assessing the Completeness of Urban Green Spaces in OpenStreetMap</a>            <br><span class="speaker">Christina Ludwig, Robert Hecht, Sven Lautenbach</span>
</td>

                                                </tr>
                                <tr>
                        <td class="fill-darken0">18:00</td>
                        <td colspan="1" class="fill-darken0 scheduleBreak"><a href="/events/#poster-evening">Poster event in the Mathematikon building (including drinks and some food)</a></td>
                                            </tr>
                                             </tbody>
        </table>
    