
            <h3 id="general_Saturday">Saturday</h3>
        <table class="scheduleTable">
            <thead>
                <tr>
                    <td></td>
                    <td>GHS</td>
                    <td>HSO</td>
                    <td>HSW</td>
                    <td>KHS <img class="noRecordingBright" src="/img/novideo-bright.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></td>
                    </tr>
            </thead>
            <tbody>
                <tr>
                        <td class="fill-darken0">09:30</td>
                        <td rowspan="1" id="session_HFET3E">
        Opening
    <br><span class="speaker">SotM Working Group
    </span>
</td>

                            <td></td>
                            <td></td>
                            <td></td>
                                                </tr>
                                <tr>
                        <td class="fill-darken0">10:00</td>
                        <td rowspan="1" id="session_ZAP3BB">
        Welcome
    <br><span class="speaker">SotM Working Group
    </span>
</td>

                            <td></td>
                            <td></td>
                            <td></td>
                                                </tr>
                                <tr>
                        <td class="fill-darken0">10:30</td>
                        <td rowspan="1" id="session_VC8ESD">
        Keynote
    <br><span class="speaker">SotM Working Group
    </span>
</td>

                            <td></td>
                            <td></td>
                            <td></td>
                                                </tr>
                                <tr>
                        <td class="fill-darken0">11:00</td>
                        <td colspan="4" class="fill-darken0 scheduleBreak">Coffee break</td>
                                            </tr>
                                <tr>
                        <td class="fill-darken0">11:30</td>
                        <td rowspan="1" id="session_VZVFMS">
        Get to know OSGeo and how OSGeo is connected to OpenStreetMap
    <br><span class="speaker">Astrid Emde
    </span>
</td>

                            <td rowspan="1" id="session_7ZXRXB">
        Data Quality and Feature Extraction at scale with RoboSat.pink
    <br><span class="speaker">Olivier Courtin
    </span>
</td>

                            <td rowspan="3" id="session_NPYVSP">
        Introduction to OSM: How it&#39;s made and how it&#39;s used
    <br><span class="speaker">Thomas Skowron, Frederik Ramm
    </span>
</td>

                            <td rowspan="2" id="session_Z9VBKM">
        Mapping public transport and cycling itineraries using JOSM&#39;s PT_Assistant plugin
    <br><span class="speaker">Polyglot
    </span>
</td>

                                                </tr>
                                <tr>
                        <td class="fill-darken0">12:00</td>
                        <td rowspan="1" id="session_3WQKAX">
        “Keepin&#39; it fresh (and good)!” - Continuous Ingestion of OSM Data at Facebook
    <br><span class="speaker">Saurav Mohapatra
    </span>
</td>

                            <td rowspan="1" id="session_KAPNKV">
        Human Mapping with Machine Data
    <br><span class="speaker">Christopher Beddow, Edoardo Neerhut
    </span>
</td>

                            
                            
                                                </tr>
                                <tr>
                        <td class="fill-darken0">12:30</td>
                        <td rowspan="1" id="session_PAG8CN">
        Driving South East Asia Forward with OpenStreetMap
    <br><span class="speaker">Jinal Foflia
    </span>
</td>

                            <td rowspan="1" id="session_DPGWFB">
        Assisted Intelligence - How we map with the support of new technologies
    <br><span class="speaker">Felix Delattre, Surabhi Singh
    </span>
</td>

                            
                            <td></td>
                                                </tr>
                                <tr>
                        <td class="fill-darken0">13:00</td>
                        <td colspan="4" class="fill-darken0 scheduleBreak">Lunch (and photo at 14:00)</td>
                                            </tr>
                                <tr>
                        <td class="fill-darken0">14:30</td>
                        <td rowspan="1" id="session_UN33XK">
        ODbL license compatibility
    <br><span class="speaker">Kathleen Lu
    </span>
</td>

                            <td rowspan="1" id="session_FLPYCN">
        Lightning Talks I
    <br><span class="speaker">Various Speakers
    </span>
</td>

                            <td rowspan="2" id="session_N9RCV8">
        Share Edits and Insights with the Overpass Tools
    <br><span class="speaker">Roland Olbricht
    </span>
</td>

                            <td rowspan="2" id="session_JJUFQT">
    <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="This event will not be recorded.">    How to contribute to weeklyOSM via the CMS: OSMBC
    <br><span class="speaker">Manfred Reiter
    </span>
</td>

                                                </tr>
                                <tr>
                        <td class="fill-darken0">15:00</td>
                        <td rowspan="1" id="session_R3BAWM">
        Communication and Knowledge Transfer in OSM
    <br><span class="speaker">Hanna Krüger
    </span>
</td>

                            <td rowspan="1" id="session_VAADJ9">
        OsmInEdit : a simple indoor editor
    <br><span class="speaker">Adrien Pavie, Hannes Geißelmann, Andreas Dirks, Thomas Sonntag
    </span>
</td>

                            
                            
                                                </tr>
                                <tr>
                        <td class="fill-darken0">15:30</td>
                        <td rowspan="1" id="session_FAGNLA">
        Past and Future of the OSMF Membership Working Group
    <br><span class="speaker">Michael Spreng
    </span>
</td>

                            <td rowspan="1" id="session_39SBT8">
        Observe - offline, cross-platform field mapping tool for OpenStreetMap
    <br><span class="speaker">Sajjad Anwar
    </span>
</td>

                            <td></td>
                            <td></td>
                                                </tr>
                                <tr>
                        <td class="fill-darken0">16:00</td>
                        <td colspan="4" class="fill-darken0 scheduleBreak">Coffee break</td>
                                            </tr>
                                <tr>
                        <td class="fill-darken0">16:30</td>
                        <td rowspan="1" id="session_799WZF">
        OSM Data: From Digital to Physical Design
    <br><span class="speaker">Yantisa Akhadi
    </span>
</td>

                            <td rowspan="1" id="session_BBRMPZ">
        Lightning Talks II
    <br><span class="speaker">Various Speakers
    </span>
</td>

                            <td rowspan="3" id="session_9MR9QK">
        Board + Working Groups meeting
    <br><span class="speaker">Joost Schouppe
    </span>
</td>

                            <td rowspan="2" id="session_J7D7UU">
        uMap for newbies
    <br><span class="speaker">Manfred Reiter
    </span>
</td>

                                                </tr>
                                <tr>
                        <td class="fill-darken0">17:00</td>
                        <td rowspan="1" id="session_SBDEU8">
        CyclOSM, a bicycle oriented render for every cyclist
    <br><span class="speaker">Lucas Verney, Florimond Berthoux
    </span>
</td>

                            <td rowspan="1" id="session_9TMRYN">
        VR Map: Using OSM Data In a WebVR Environment
    <br><span class="speaker">Robert Kaiser
    </span>
</td>

                            
                            
                                                </tr>
                                <tr>
                        <td class="fill-darken0">17:30</td>
                        <td rowspan="1" id="session_JNXE9Q">
        How to use OpenStreetMap data with the Desktop GIS QGIS
    <br><span class="speaker">Astrid Emde
    </span>
</td>

                            <td rowspan="1" id="session_DETEML">
        Hikar - OSM Augmented Reality for Walkers across Europe
    <br><span class="speaker">Nick Whitelegg
    </span>
</td>

                            
                            <td></td>
                                                </tr>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             </tbody>
        </table>
            <h3 id="general_Sunday">Sunday</h3>
        <table class="scheduleTable">
            <thead>
                <tr>
                    <td></td>
                    <td>GHS</td>
                    <td>HSO</td>
                    <td>HSW</td>
                    <td>KHS <img class="noRecordingBright" src="/img/novideo-bright.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></td>
                    <td>Mathematikon A <img class="noRecordingBright" src="/img/novideo-bright.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></td>
                    </tr>
            </thead>
            <tbody>
                                                                                                                                                                                                                                                                <tr>
                        <td class="fill-darken0">09:00</td>
                        <td></td>
                            <td></td>
                            <td>Academic track</td>
                            <td></td>
                            <td></td>
                                                </tr>
                                <tr>
                        <td class="fill-darken0">09:30</td>
                        <td rowspan="1" id="session_P8AG7K">
        Flexible Routing with GraphHopper
    <br><span class="speaker">Peter Karich
    </span>
</td>

                            <td rowspan="1" id="session_GQ3AAF">
        &#34;Mapathon, mapathon, mapathon!&#34;
    <br><span class="speaker">Séverin Menard, Nicolas Chavent
    </span>
</td>

                            <td>Academic track</td>
                            <td></td>
                            <td></td>
                                                </tr>
                                <tr>
                        <td class="fill-darken0">10:00</td>
                        <td rowspan="1" id="session_AT9YPK">
        Pedestrian routing in complex areas : the case of Paris railway stations
    <br><span class="speaker">Antoine Riche
    </span>
</td>

                            <td rowspan="1" id="session_VWBV88">
        OSMF local chapters in countries of the Global South what can we learn from OSM associations dynamics in French-speaking southern countries of Africa and the Caribbean ?
    <br><span class="speaker">Séverin Menard, Nicolas Chavent
    </span>
</td>

                            <td>Academic track</td>
                            <td rowspan="1" id="session_PRHPXV">
        Lightning Talks Scholars I
    <br><span class="speaker">SotM Scholars
    </span>
</td>

                            <td></td>
                                                </tr>
                                <tr>
                        <td class="fill-darken0">10:30</td>
                        <td rowspan="1" id="session_ZJYT7F">
        Automatically annotate a pedestrian route with OSM landmarks
    <br><span class="speaker">Frédéric Rodrigo
    </span>
</td>

                            <td rowspan="1" id="session_7Q97AH">
        Tales from the Tasking Manager
    <br><span class="speaker">Ramya Ragupathy, Wille Marcel Lima Malheiro, Felix Delattre
    </span>
</td>

                            <td>Academic track</td>
                            <td rowspan="1" id="session_M9BN97">
        Lightning Talks Scholars II
    <br><span class="speaker">SotM Scholars
    </span>
</td>

                            <td></td>
                                                </tr>
                                <tr>
                        <td class="fill-darken0">11:00</td>
                        <td colspan="5" class="fill-darken0 scheduleBreak">Coffee break</td>
                                            </tr>
                                <tr>
                        <td class="fill-darken0">11:30</td>
                        <td rowspan="1" id="session_YFUEBH">
        Overview of map serving architectures
    <br><span class="speaker">Paul Norman
    </span>
</td>

                            <td rowspan="1" id="session_YENWFX">
        “Our Falkirk”: Mitigating the Impacts of Poverty using OSM Data Themes
    <br><span class="speaker">Alison Moon
    </span>
</td>

                            <td>Academic track</td>
                            <td rowspan="3" id="session_NCSSPK">
        Bilingual Breakout Session
    <br><span class="speaker">Séverin Menard, Nicolas Chavent
    </span>
</td>

                            <td rowspan="2" id="session_3Z3RD9">
        First steps with OpenStreetMap editors
    <br><span class="speaker">Angjelina Dervishaj
    </span>
</td>

                                                </tr>
                                <tr>
                        <td class="fill-darken0">12:00</td>
                        <td rowspan="1" id="session_PJE8GK">
        Customizing Search for Special-Interest Maps
    <br><span class="speaker">Sarah Hoffmann
    </span>
</td>

                            <td rowspan="1" id="session_3BZCXA">
        OSM Quality Mapping : Metrics to monitor Buildings outbounds
    <br><span class="speaker">Pierre Béland
    </span>
</td>

                            <td>Academic track</td>
                            
                            
                                                </tr>
                                <tr>
                        <td class="fill-darken0">12:30</td>
                        <td rowspan="1" id="session_EGMAVR">
        Lightning Talks III
    <br><span class="speaker">Various Speakers
    </span>
</td>

                            <td rowspan="1" id="session_9SSZQH">
        Bringing Validation to Users: Integrating Quality Assurance Checks into Map Editors
    <br><span class="speaker">David Manzer, Matthew Gibb, Clarisse Abalos
    </span>
</td>

                            <td>Academic track</td>
                            
                            <td></td>
                                                </tr>
                                <tr>
                        <td class="fill-darken0">13:00</td>
                        <td colspan="5" class="fill-darken0 scheduleBreak">Lunch</td>
                                            </tr>
                                <tr>
                        <td class="fill-darken0">14:00</td>
                        <td rowspan="1" id="session_88ZHKQ">
        What&#39;s behind JOSM?
    <br><span class="speaker">Vincent Privat
    </span>
</td>

                            <td rowspan="1" id="session_RLZJG9">
        Lightning Talks IV
    <br><span class="speaker">Various Speakers
    </span>
</td>

                            <td>Academic track</td>
                            <td rowspan="2" id="session_Z7L9HF">
        Diversity and Inclusion in OSM
    <br><span class="speaker">Patricia Solis, Miriam Gonzalez, Heather Leson
    </span>
</td>

                            <td rowspan="2" id="session_WSAFMM">
        Using OSMCha to understand bad edits
    <br><span class="speaker">Andrey Golovin, Wille Marcel Lima Malheiro
    </span>
</td>

                                                </tr>
                                <tr>
                        <td class="fill-darken0">14:30</td>
                        <td rowspan="1" id="session_EBHGTW">
        Mapping solar panels can save megatons of CO2
    <br><span class="speaker">Dan Stowell, Jerry Clough
    </span>
</td>

                            <td rowspan="1" id="session_CAD93S">
        Spatial indexes for OSM in PostGIS
    <br><span class="speaker">Felix Kunde
    </span>
</td>

                            <td>Academic track</td>
                            
                            
                                                </tr>
                                <tr>
                        <td class="fill-darken0">15:00</td>
                        <td rowspan="1" id="session_VDUV9A">
        National Trust - Managing a Path inventory in OSM: Towards an Open Paths standard in OSM for the UK
    <br><span class="speaker">Huw Davies
    </span>
</td>

                            <td rowspan="2" id="session_K8N3XY">
        OSM data processing with PostgreSQL/PostGIS
    <br><span class="speaker">Jochen Topf
    </span>
</td>

                            <td>Academic track</td>
                            <td rowspan="2" id="session_8GY9WF">
        Local Chapters Congress
    <br><span class="speaker">Joost Schouppe
    </span>
</td>

                            <td></td>
                                                </tr>
                                <tr>
                        <td class="fill-darken0">15:30</td>
                        <td rowspan="1" id="session_LBREW8">
        OpenDatathon activities in Japan
    <br><span class="speaker">Shinji Enoki
    </span>
</td>

                            
                            <td>Academic track</td>
                            
                            <td></td>
                                                </tr>
                                <tr>
                        <td class="fill-darken0">16:00</td>
                        <td colspan="5" class="fill-darken0 scheduleBreak">Coffee break</td>
                                            </tr>
                                <tr>
                        <td class="fill-darken0">16:30</td>
                        <td rowspan="1" id="session_SKVRRL">
        Notes:  Can we do better. Experiences and Ideas from the Frontline.
    <br><span class="speaker">Chris Fleming
    </span>
</td>

                            <td rowspan="1" id="session_XRL7VK">
        Mapper&#39;s privacy
    <br><span class="speaker">Roland Olbricht
    </span>
</td>

                            <td>Academic track</td>
                            <td rowspan="1" id="session_GXKF3F">
        Lightning Talks Scholars III
    <br><span class="speaker">SotM Scholars
    </span>
</td>

                            <td></td>
                                                </tr>
                                <tr>
                        <td class="fill-darken0">17:00</td>
                        <td rowspan="1" id="session_DW7WW8">
        Is the OSM data model creaking?
    <br><span class="speaker">Martin Lucas-Smith, CycleStreets
    </span>
</td>

                            <td rowspan="1" id="session_XHGBU7">
        Teams for OpenStreetMap
    <br><span class="speaker">Marc Farra
    </span>
</td>

                            <td>Academic track</td>
                            <td rowspan="2" id="session_DKVXZK">
        Nomad Maps, an andean cartographic itinerancy by bike
    <br><span class="speaker">Alban Vivert
    </span>
</td>

                            <td></td>
                                                </tr>
                                <tr>
                        <td class="fill-darken0">17:30</td>
                        <td rowspan="1" id="session_V7NUWP">
        Broken Promises and Technical Difficulties
    <br><span class="speaker">Ilya Zverev
    </span>
</td>

                            <td rowspan="1" id="session_KMP9X7">
        Lightning Talks V
    <br><span class="speaker">Various Speakers
    </span>
</td>

                            <td>Academic track</td>
                            
                            <td></td>
                                                </tr>
                                                                                                                                                                                                                                                             </tbody>
        </table>
            <h3 id="general_Monday">Monday</h3>
        <table class="scheduleTable">
            <thead>
                <tr>
                    <td></td>
                    <td>GHS</td>
                    <td>HSO</td>
                    <td>KHS <img class="noRecordingBright" src="/img/novideo-bright.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></td>
                    <td>Mathematikon C <img class="noRecordingBright" src="/img/novideo-bright.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></td>
                    </tr>
            </thead>
            <tbody>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                <tr>
                        <td class="fill-darken0">09:30</td>
                        <td rowspan="1" id="session_LZ8HAH">
        Qwant Maps: Geocode the World with OSM Data
    <br><span class="speaker">Guillaume, Adrien Matissart, J.B. Griesner
    </span>
</td>

                            <td rowspan="1" id="session_V7QPGG">
        OSM2World: 3D OSM in your browser
    <br><span class="speaker">Tobias Knerr
    </span>
</td>

                            <td rowspan="2" id="session_LHSWEF">
        The Next Generation of Mappers: Learning from YouthMappers
    <br><span class="speaker">Jessica Bergmann
    </span>
</td>

                            <td rowspan="2" id="session_GUUUYW">
        OpenStreetMap and Wikidata: Awesome Together
    <br><span class="speaker">Eugene Alvin Villar
    </span>
</td>

                                                </tr>
                                <tr>
                        <td class="fill-darken0">10:00</td>
                        <td rowspan="1" id="session_ARMCT7">
        Routing for humans
    <br><span class="speaker">Sebastian Ritterbusch
    </span>
</td>

                            <td rowspan="1" id="session_KATR7E">
        Collaborative cartography of cycling infrastructure for route and thematic maps in Medellin, Colombia
    <br><span class="speaker">Natalia da Silveira Arruda, Monica Alvarez Valle
    </span>
</td>

                            
                            
                                                </tr>
                                <tr>
                        <td class="fill-darken0">10:30</td>
                        <td rowspan="1" id="session_9FQVUT">
        Mapping Mobility in Stockport
    <br><span class="speaker">Sam Milsom
    </span>
</td>

                            <td rowspan="1" id="session_XQUHP3">
        Lightning Talks VI
    <br><span class="speaker">Various Speakers
    </span>
</td>

                            <td rowspan="1" id="session_ADYMVF">
        OpenStreetMap in Croatia
    <br><span class="speaker">Hrvoje Bogner
    </span>
</td>

                            <td></td>
                                                </tr>
                                <tr>
                        <td class="fill-darken0">11:00</td>
                        <td colspan="4" class="fill-darken0 scheduleBreak">Coffee break</td>
                                            </tr>
                                <tr>
                        <td class="fill-darken0">11:30</td>
                        <td rowspan="2" id="session_F9D8QG">
        Caretography - Mapping Difficult Issues with OpenStreetMap during Difficult Times
    <br><span class="speaker">David Garcia, Martin Dittus
    </span>
</td>

                            <td rowspan="1" id="session_JGHWKY">
        Integrating and validating open data in OSM using street pictures
    <br><span class="speaker">Adrien Pavie
    </span>
</td>

                            <td></td>
                            <td rowspan="2" id="session_QHTNEY">
        Custom Presets Creation using JOSM
    <br><span class="speaker">Harry Mahardhika Machmud
    </span>
</td>

                                                </tr>
                                <tr>
                        <td class="fill-darken0">12:00</td>
                        
                            <td rowspan="1" id="session_LBGPCD">
        Introduce OpenPlaceReviews and connect to OpenStreetMap
    <br><span class="speaker">Victor Shcherb
    </span>
</td>

                            <td rowspan="1" id="session_Q3ZCRS">
    <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="This event will not be recorded.">    Iranian OSM Community, last two years and the way up front
    <br><span class="speaker">Ebrahim Hasanzadeh
    </span>
</td>

                            
                                                </tr>
                                <tr>
                        <td class="fill-darken0">12:30</td>
                        <td rowspan="1" id="session_7FBMMM">
        Access to Prosperity: Quantifying Infrastructure Impact With OSM
    <br><span class="speaker">Davey Lovin
    </span>
</td>

                            <td rowspan="1" id="session_MYFAAH">
        Lightning Talks VII
    <br><span class="speaker">Various Speakers
    </span>
</td>

                            <td rowspan="1" id="session_UELRPR">
        State of the Map Bangladesh: Transforming A Resilient Community by Institutionalizing OSM
    <br><span class="speaker">Tasauf A Baki Billah (Ribin)
    </span>
</td>

                            <td></td>
                                                </tr>
                                <tr>
                        <td class="fill-darken0">13:00</td>
                        <td colspan="4" class="fill-darken0 scheduleBreak">Lunch</td>
                                            </tr>
                                <tr>
                        <td class="fill-darken0">14:00</td>
                        <td rowspan="1" id="session_CXVMJ8">
        Norway: Successful deployment of OSM in Public Transport
    <br><span class="speaker">Johan Wiklund
    </span>
</td>

                            <td rowspan="1" id="session_7LMH8R">
        Is your OSM App spying on you?
    <br><span class="speaker">Thomas Skowron
    </span>
</td>

                            <td rowspan="1" id="session_ZTCEZE">
        Participatory Mapping for Open Counties
    <br><span class="speaker">Zacharia Muindi
    </span>
</td>

                            <td rowspan="2" id="session_RUJWP8">
        ImproveOSM - MissingRoads workshop
    <br><span class="speaker">Beata Tautan-Jancso, Dumitru Laura
    </span>
</td>

                                                </tr>
                                <tr>
                        <td class="fill-darken0">14:30</td>
                        <td rowspan="1" id="session_NWW7GF">
        Public Transport Navigation using OpenStreetMap by OsmAnd
    <br><span class="speaker">Victor Shcherb, Eugene Kizevic
    </span>
</td>

                            <td rowspan="1" id="session_TVSA9F">
        Imagery Solutions in OpenStreetMap
    <br><span class="speaker">Kevin Bullock
    </span>
</td>

                            <td></td>
                            
                                                </tr>
                                <tr>
                        <td class="fill-darken0">15:00</td>
                        <td rowspan="1" id="session_EKQBYN">
    <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="This event will not be recorded.">    From car routing to train routing
    <br><span class="speaker">Denis Cheynet
    </span>
</td>

                            <td rowspan="1" id="session_RYPLFZ">
        OSM Vector Tiles in custom coordinate systems
    <br><span class="speaker">Jiri Komarek
    </span>
</td>

                            <td></td>
                            <td></td>
                                                </tr>
                                <tr>
                        <td class="fill-darken0">15:30</td>
                        <td colspan="4" class="fill-darken0 scheduleBreak">Coffee break</td>
                                            </tr>
                                <tr>
                        <td class="fill-darken0">16:00</td>
                        <td rowspan="1" id="session_SWAGX7">
        Closing
    <br><span class="speaker">SotM Working Group
    </span>
</td>

                            <td></td>
                            <td></td>
                            <td></td>
                                                </tr>
                                             </tbody>
        </table>
    
