    <!-- About Section -->
    <section id="about" class="fill-midnight pad8y contain dark keyline-top keyline-bottom">
        <div class="limiter clearfix">
        <div class=" col10 margin1 margin1r">
           <div class="col12 clearfix space-bottom2 keyline-bottom-thick contain pad4y">
            <div class="col11 margin1r">
                <h1>Mapping the world <span class="icon heart big icon-pink"></span> together</h1>
                <h2>State of the Map is the annual event for <span>all mappers and OpenStreetMap users</span>. Enjoy three days in the heart of Europe with talks, discussions, workshops, code and documentation sprints all around the free and open map of the world.</h2>
            </div>

           </div>
           <div class="col12 clearfix space-bottom2  contain pad4y">
            <div class="col5  pad0y">
                <h3 class="small-title uppercase">when?</h3>
                <p class="varela">September 23 - 25, 2016</p>
            </div>
            <div class="col7  pad0y">
                <h3 class="small-title uppercase">Where?</h3>
                <p class="varela">VUB &dash; Pleinlaan 2,  1050 Elsene, Brussels</p>
            </div>
            </div>
        </div>
        </div>
    </section>