    <!-- About Section -->
    <section id="about" class="pad8y contain">
      <div class="limiter clearfix pad4y">
        <div class="col8 clearfix space-bottom2 contain">
          <div class="col10 margin2r space-bottom2">
            <h1 class="space-bottom2">State of the Map</h1>
            <p>
              State of the Map is the annual event for <em>all mappers and OpenStreetMap users</em>. Enjoy three days in the heart of Europe with talks, discussions, workshops, code and documentation sprints all around the free and open map of the world.
            </p>
            <p>
              Join us for a three day event around OpenStreetMap in <a href="https://www.openstreetmap.org/node/240058050#map=14/49.4102/8.6970">Heidelberg</a> for talks, discussions, workshops, code and documentation sprints.
            </p>

            <h2 class="space-bottom2 space-top4">Our motto: Bridging the Map</h2>
            <p>
              Right next to the old bridge in Heidelberg there lives a curious little statue – a bronze monkey. In its hand, it holds a mirror to remind anyone crossing the bridge to look back from where they came from and remember who they are. For the <span class="numeral">2019</span> SotM in Heidelberg we want to take the role of that little monkey and remind everyone that no matter where we are going and what we are doing with OSM, we should never forget that we all come from the same origin: a little map that anyone can modify and use. Whether you are a hobby mapper, a scientific researcher, a humanitarian, an NGO, a government agency, a small business or a global company — we want to bridge the gap between us, or better yet, we want to Bridge the Map.
            </p>
          </div>
        </div>
        <div class="col4 clearfix contain">
          <h3 class="small-title uppercase">Where?</h3>
          <p>Heidelberg, Germany</p>

          <h3 class="small-title uppercase">State of the Map</h3>
          <p>September <span class="numeral">21 – 23</span></p>
          <h3 class="small-title uppercase">Additional Events</h3>
          <p>
            <a href="http://summit.hotosm.org/">HOT Summit</a><br>
            September <span class="numeral">19 – 20</span>
          </p>

          <h3 class="small-title uppercase" style="height:0">&nbsp;</h3>
          <p>
            <a href="https://openstreetmap.org"><img src="logos/osm.svg" style="height:85px; margin-top:20px;" /></a>
          </p>
          <p>
            <a href="https://www.uni-heidelberg.de/"><img src="logos/uni_hd.png" style="height:110px; margin-top:10px;" /></a>
          </p>
          <p>
            <a href="https://www.fossgis.de/"><img src="logos/fossgis.svg" style="height:55px; margin-top:10px;" /></a>
          </p>
        </div>
      </div>
    </section>
