    <!-- About Section -->
    <section id="about" class="pad8y contain dark">
      <div class="limiter clearfix pad4y">
        <div class="col8 clearfix space-bottom2 contain">
          <div class="col10 margin2r space-bottom2">
            <h1 class="space-bottom2">Bridging the Map</h1>
            <p>Join for a three day event around OpenStreetMap in <em>Heidelberg</em> for talks, discussions, workshops, code and documentation sprints.</p>
            <p>State of the Map is the annual event for <em>all mappers and OpenStreetMap users</em>. Enjoy three days in the heart of Europe with talks, discussions, workshops, code and documentation sprints all around the free and open map of the world.</p>
          </div>
        </div>
        <div class="col4 clearfix contain">
          <h3 class="small-title uppercase">When?</h3>
          <p>September <span class="numeral">21 - 23, 2019</a></p>
          <h3 class="small-title uppercase">Where?</h3>
          <p>Heidelberg, Germany</p>
        </div>
      </div>
    </section>
