<!-- Footer -->
<footer class="contain" id="footer">
    <div class="limiter">
      <div class="pad2y clearfix">
        <div class="space-bottom1 col12  clearfix footer-links">
          <div class="col3 pad4x hide-mobile">
            <img src="{{ "/img/logo-footer.svg" | prepend: site.baseurl }}" style="height:140px; margin-bottom: -20px;">
          </div>
          <nav class="col4 pad2">
            <a href="{{site.baseurl}}/calls/posters" class="animate block">Call for Posters</a>
            <a href="{{site.baseurl}}/calls/general" class="animate block">Call for Presentations</a>
            <a href="{{site.baseurl}}/calls/academic" class="animate block">Call for Academic Abstracts</a>
            <a href="https://blog.openstreetmap.org/2019/02/26/apply-for-scholarship-to-join-us-at-state-of-the-map-2019-in-heidelberg/" class="animate block">Scholarship Application</a>
          </nav>
          <nav class="col3 pad2">
            <a href="{{site.baseurl}}/program/" class="animate block">Programme</a>
            <a href="{{site.baseurl}}/academic_programme/" class="animate block">Academic Programme</a>
            <a href="{{site.baseurl}}/venue/" class="animate block">Venue</a>
            <a href="{{site.baseurl}}/codeofconduct/" class="animate">Code of conduct</a>
          </nav>
          <nav class="col2 pad2">
            <a href="https://twitter.com/sotm" class="animate block">Twitter&nbsp;<span class="icon twitter"></span></a>
            <a href="https://www.youtube.com/channel/UCLqJsr_5PfdvDFbgv1qp2aQ" class="animate block">Youtube&nbsp;<span class="icon caret-right"></span></a>
            <a href="https://blog.openstreetmap.org/" class="animate">OSM blog</a>
            <a href="https://wiki.openstreetmap.org/wiki/State_of_the_Map_2019" class="animate block">Wiki page</a>
          </nav>
        </div>
      </div>
        <div class="center">
          <p>
            Copyright &copy; <span class="numeral">20{{ site.time | date: '%y' }}</span> - <a href="mailto:sotm@openstreetmap.org" class="animate light"><span class="icon mail" aria-hidden="true"></span>&nbsp;sotm@openstreetmap.org</a>
          </p>
        </div>
      </div>
</footer>
