    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="limiter">
                <div class="">
                    <div class="col12">
                        <div class="col3">
                            <img src="img/10-26_tyr_mauer.png" />
                            <a href="#about" class="btn btn-circle page-scroll">
                                <i class="icon big down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
