    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="limiter">
                <div class="">
                    <div class="col12">
                        <div class="col4 margin4 margin4r">
                             <img src="img/10-26_tyr_mauer.png" />
                             </div>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="icon big down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
