    <!-- Map Section -->
 <section class="map-container">
 <div id="map"></div>

 </section>



<script>
  document.addEventListener('DOMContentLoaded', function() {
    var map = L.map('map').setView([49.412, 8.690], 14);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, map tiles © <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA 2.0</a>',
      maxZoom: 19
    }).addTo(map);

    L.marker([49.41854, 8.67345], {icon: L.icon({
          iconUrl: "{{ "/img/logo-footer.svg" | prepend: site.baseurl }}",
          iconSize: [40, 40],
          iconAnchor: [20, 20],
          className: "map-icon"
        })}).bindPopup("<h3>Main Conference Venue</h3><p>“Hörsaalzentrum Chemie”<br>(Chemistry Lecture Halls Building),<br>Campus <em>Neuenheimer Feld</em>.</p>").addTo(map);

    map.scrollWheelZoom.disable();
  }, false);
</script>
