    <!-- Map Section -->
 <section class="map-container">
 <div id="map"></div>

 </section>



<script>
  document.addEventListener('DOMContentLoaded', function() {
    var map = L.map('map').setView([49.412, 8.690], 14);
    L.tileLayer('{{ site.map_tiles.url}}', {
      attribution: '{{ site.map_tiles.attribution }}',
      maxZoom: {{ site.map_tiles.maxZoom}},
      accessToken: '{{ site.map_tiles.accessToken }}'
    }).addTo(map);

    L.marker([49.41854, 8.67345], {icon: L.icon({
          iconUrl: "{{ "/img/logo-footer.svg" | prepend: site.baseurl }}",
          iconSize: [40, 40],
          iconAnchor: [20, 20],
          className: "map-icon"
        })}).bindPopup("<h3>Main Conference Venue</h3><p>“Hörsaalzentrum Chemie”<br>(Chemistry Lecture Halls Building),<br>Campus <em>Neuenheimer Feld</em>.</p>").addTo(map);

    map.scrollWheelZoom.disable();
  }, false);
</script>
