 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top  {% if page.role != "index" %} top-nav-collapse stay-collapsed {% endif %}" role="navigation">
        <div class="limiter">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <span class="icon menu"></span>
                </button>
                <a class="navbar-brand" href="{{site.baseurl}}/">
                 State of the Map <span class="numeral">2019</span>
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="{% if page.url contains '/calls/general' %}active{% endif %}" href="{{site.baseurl}}/calls/general">Call for Participation</a>
                    </li>
                    <li>
                        <a class="{% if page.url contains '/calls/academic' %}active{% endif %}" href="{{site.baseurl}}/calls/academic">Academic Track</a>
                    </li>
                    <li>
                        <a href="https://blog.openstreetmap.org/2019/02/26/apply-for-scholarship-to-join-us-at-state-of-the-map-2019-in-heidelberg/">Scholarships</a>
                    </li>
                    <!--<li>
                        <a class="{% if page.url contains '/program' %}active{% endif %}" href="{{site.baseurl}}/program/">Program</a>
                    </li>-->
                    <li>
                        <a class="{% if page.url contains '/venue' %}active{% endif %}" href="{{site.baseurl}}/venue/">Venue</a>
                    </li>
                    <!--<li>
                      {% if page.role == 'index' %}
                        <a class="page-scroll" href="#newsletter">Newsletter</a>
                      {% else %}
                        <a class="" href="{{site.baseurl}}/#newsletter">Newsletter</a>
                      {% endif %}
                    </li>-->
                    <!--<li>
                        <a class="{% if page.url contains '/codeofconduct' %}active{% endif %}" href="{{site.baseurl}}/codeofconduct">Code of conduct</a>
                    </li>-->
                </ul>
            </div>
        </div>
    </nav>
