    <!-- Map Section -->
 <section class="map-container">
 <div id="map"></div>

 </section>



<script>
  document.addEventListener('DOMContentLoaded', function() {
    var map = L.map('map').setView([49.412, 8.690], 13);
    L.tileLayer('{{ site.map_tiles.url}}', {
      attribution: '{{ site.map_tiles.attribution }}',
      maxZoom: {{ site.map_tiles.maxZoom}},
      accessToken: '{{ site.map_tiles.accessToken }}'
    }).addTo(map);

    L.marker([49.41854, 8.67345], {icon: L.icon({
          iconUrl: "{{ "/img/logo-footer.svg" | prepend: site.baseurl }}",
          iconSize: [40, 40],
          iconAnchor: [20, 20],
          className: "map-icon"
        })}).bindPopup("<h3>Main Conference Venue</h3><p>“Hörsaalzentrum Chemie”<br>(Chemistry Lecture Halls Building),<br>Campus <em>Neuenheimer Feld</em>.</p>").addTo(map);

      L.marker([49.412931, 8.705094], {icon: L.icon({
          iconUrl: "{{ "/img/logo-footer.svg" | prepend: site.baseurl }}",
          iconSize: [40, 40],
          iconAnchor: [20, 20],
          className: "map-icon"
        })}).bindPopup("<h3>Icebreaker & PhD meetup</h3><p>Friday 18:00<br>“Marstall Cafe”<br>Marstallhof 5, 69117 Heidelberg.</p>").addTo(map);

      L.marker([49.396425, 8.679294], {icon: L.icon({
          iconUrl: "{{ "/img/logo-footer.svg" | prepend: site.baseurl }}",
          iconSize: [40, 40],
          iconAnchor: [20, 20],
          className: "map-icon"
        })}).bindPopup("<h3>Main Social Dinner</h3><p>Saturday 19:00<br>“HebelHalle”<br>Hebelstraße 9, 69115 Heidelberg.</p>").addTo(map);

      L.marker([49.417341, 8.675531], {icon: L.icon({
          iconUrl: "{{ "/img/logo-footer.svg" | prepend: site.baseurl }}",
          iconSize: [40, 40],
          iconAnchor: [20, 20],
          className: "map-icon"
        })}).bindPopup("<h3>Poster Session</h3><p>Sunday 18:00<br>“Mathematikon Foyer”<br>(Mathematikon Building A),<br>Campus <em>Neuenheimer Feld</em>.</p>").addTo(map);

    map.scrollWheelZoom.disable();
  }, false);
</script>
