<section class="contain" id="sponsors">
	<div class="limiter pad4y clearfix">
		<h1 class="space-bottom4 center">Thanks to our sponsors</h1>

		<h3 class="clearfix small-title sponsors platinum">Platinum</h3>
		<div class="clearfix space-bottom2 space-top4">
			<a href="mailto:sponsor-sotm@openstreetmap.org">
				<img class="col2 pad2 space-bottom2 sponsor" src="img/sponsors.png" />
			</a>
		</div>

		<h3 class="clearfix small-title sponsors gold">Gold</h3>
		<div class="clearfix space-top2 space-bottom4">
			<a href="https://www.facebook.com/">
				<img class="col2 pad2 space-bottom2 sponsor" src="/logos/facebook.png">
			</a>
			<a href="mailto:sponsor-sotm@openstreetmap.org">
				<img class="col2 pad2 space-bottom2 sponsor" src="img/sponsors.png" />
			</a>
		</div>

		<h3 class="clearfix small-title sponsors silver">Silver</h3>
		<div class="clearfix space-top2 space-bottom4">
			<a href="https://www.geotab.com/">
				<img class="col2 pad2 space-bottom2 sponsor" src="/logos/geotab.png">
			</a>
			<a href="mailto:sponsor-sotm@openstreetmap.org">
				<img class="col2 pad2 space-bottom2 sponsor" src="img/sponsors.png" />
			</a>
		</div>

		<h3 class="clearfix small-title sponsors bronze">Bronze</h3>
		<div class="clearfix space-top2 space-bottom4">
			<a href="https://opencagedata.com/">
				<img class="col2 pad2 space-bottom2 sponsor" src="/logos/opencagedata.png">
			</a>
			<a href="mailto:sponsor-sotm@openstreetmap.org">
				<img class="col2 pad2 space-bottom2 sponsor" src="img/sponsors.png" />
			</a>
		</div>

		<h3 class="clearfix small-title sponsors supporter">Supporter</h3>

		<div class="clearfix space-top2 space-bottom4">
			<a href="https://wheregroup.com/" class="pad2 sponsor">WhereGroup</a>
			<a href="https://omniscale.com/" class="pad2 sponsor">Omniscale</a>
			<a href="mailto:sponsor-sotm@openstreetmap.org" class="pad2 sponsor"><span style="font-style: italic; opacity: 0.6;">your name here</span></a>
		</div>

	</div>

	<div class="limiter pad4y space-bottom8 clearfix center">
		<h1 class="space-bottom4">Interested in sponsoring?</h1>
		<p>
			Take a look at our <a href="https://2019.stateofthemap.org/Sponsorship2019.pdf">sponsorship packages</a> and email us at <a href="mailto:sponsor-sotm@openstreetmap.org">sponsor-sotm@openstreetmap.org</a> for more information.
		</p>

	</div>
</section>
