<section class="fill-light contain center" id="sponsors">
	<div class="limiter pad8y clearfix center">

	<h2 class="space-bottom4">Sponsors</h2>
	<div class="col4 pad4x space-bottom2">
		<a href="mailto:sponsors@stateofthemap.org"><img src="img/sponsors.png" /></a>
	</div>
	<div class="col4 pad4x space-bottom2">
		<a href="mailto:sponsors@stateofthemap.org"><img src="img/sponsors.png" /></a>
	</div>
	<div class="col4 pad4x space-bottom2">
		<a href="mailto:sponsors@stateofthemap.org"><img src="img/sponsors.png" /></a>
	</div>

	</div>
</section>