 <section class="contain dark" id="sponsors">
	<div class="limiter pad4y clearfix">
		<h1 class="space-bottom4 center">Thanks to our sponsors</h1>

		<h3 class="clearfix small-title sponsors platinum">Platinum</h3>
		<div class="clearfix space-bottom2 space-top4 platinum">
			<a class="col4 pad8 space-bottom2 sponsor" href="https://vm.baden-wuerttemberg.de/">
				<img src="logos/baden-wuerttemberg.png" style="width:75%;" alt="Baden Württemberg - Ministry of Transport">
			</a>
		</div>

		<h3 class="clearfix small-title sponsors gold">Gold</h3>
		<div class="clearfix space-top2 space-bottom4">
			<a class="col2 pad2 space-bottom2 sponsor" href="https://www.facebook.com/">
				<img src="logos/facebook.png" style="margin-top:8px">
			</a>
			<a class="col2 pad2 space-bottom2 sponsor" href="https://www.bing.com/">
				<img src="logos/bing.png" style="height:48px; width:auto">
			</a>
			<a class="col2 pad2 space-bottom2 sponsor" href="https://www.mapbox.com/">
				<img src="logos/mapbox.png" style="margin-top:16px">
			</a>
			<a class="col2 pad2 space-bottom2 sponsor" href="mailto:sponsor-sotm@openstreetmap.org">
				<img src="img/sponsors.png" />
			</a>
		</div>

		<h3 class="clearfix small-title sponsors silver">Silver</h3>
		<div class="clearfix space-top2 space-bottom4">
			<a class="col2 pad2 space-bottom2 sponsor" href="https://www.geotab.com/">
				<img src="logos/geotab.png" style="margin-top:12px">
			</a>
			<a class="col2 pad2 space-bottom2 sponsor" href="https://www.grab.com/">
				<img src="logos/grab.png" style="height:48px; width:auto">
			</a>
			<a class="col2 pad2 space-bottom2 sponsor" href="mailto:sponsor-sotm@openstreetmap.org">
				<img src="img/sponsors.png" />
			</a>
		</div>

		<h3 class="clearfix small-title sponsors bronze">Bronze</h3>
		<div class="clearfix space-top2 space-bottom4">
			<a class="col2 pad2 space-bottom2 sponsor" href="https://opencagedata.com/">
				<img src="logos/opencagedata.png">
			</a>
			<a class="col2 pad2 space-bottom2 sponsor" href="https://www.accenture.com">
				<img src="logos/accenture.png" style="margin-top:8px">
			</a>
			<a class="col2 pad2 space-bottom2 sponsor" href="https://www.ibm.com">
				<img src="logos/ibm.svg" style="height:44px; width:auto; margin-top:4px">
			</a>
			<a class="col2 pad2 space-bottom2 sponsor" href="https://www.mapillary.com">
				<img src="logos/mapillary.png" style="margin-top:16px">
			</a>
			<a class="col2 pad2 space-bottom2 sponsor" href="https://www.sncf.com">
				<img src="logos/sncf.png" style="margin-top:8px">
			</a>
			<a class="col2 pad2 space-bottom2 sponsor" href="mailto:sponsor-sotm@openstreetmap.org">
				<img src="img/sponsors.png" />
			</a>
		</div>

		<h3 class="clearfix small-title sponsors supporter">Supporter</h3>

		<div class="clearfix space-top2 space-bottom4">
			<a href="https://sinergise.com/" class="pad2 sponsor">Sinergise</a>
			<a href="https://wheregroup.com/" class="pad2 sponsor">WhereGroup</a>
			<a href="https://omniscale.com/" class="pad2 sponsor">Omniscale</a>
			<a href="https://www.bergfex.com/" class="pad2 sponsor">Bergfex</a>
			<a href="https://www.disy.net/" class="pad2 sponsor">Disy</a>
			<a href="https://www.yellowmap.com/" class="pad2 sponsor">YellowMap</a>
			<a href="https://www.geofabrik.de/" class="pad2 sponsor">Geofabrik</a>
			<a href="mailto:sponsor-sotm@openstreetmap.org" class="pad2 sponsor"><span style="font-style: italic; opacity: 0.6;">your name here</span></a>
		</div>

	</div>

	<div class="limiter pad4y clearfix center" id="sponsoring-interested">
		<h1 class="space-bottom4">Interested in sponsoring?</h1>
		<p>
			Take a look at our <a href="https://2019.stateofthemap.org/Sponsorship2019.pdf">sponsorship packages</a> and email us at <a href="mailto:sponsor-sotm@openstreetmap.org">sponsor-sotm@openstreetmap.org</a> for more information.
		</p>

	</div>
</section>
