<section class="center page" id="streaming">
	<div class="limiter pad4y">
    <h1 class="pad2y">Live Streams</h1>
    <div class="pad2y">
      <p>
				Follow the State of the Map sessions live on <a href="https://streaming.media.ccc.de/sotm2019/">streaming.media.ccc.de/sotm2019</a>.
			</p>
			<p>
				Recorded sessions are available at <a href="https://media.ccc.de/c/sotm2019">media.ccc.de/c/sotm2019</a>.
			</p>
      <p>
				Thanks to <a href="https://twitter.com/c3voc">C3VOC</a> for streaming and recording the conference!
			</p>
    </div>
  </div>
</section>
