body {
    width: 100%;
    height: 100%;
    font-family: 'Barlow',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    color: {{ site.color.text }};
    background-color: {{ site.color.background-light }};
}

html {
    width: 100%;
    height: 100%;
}

.page {
  background-color: {{ site.color.primary-light }};
  color: {{ site.color.links-white }};
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    letter-spacing: 1px;
}

.prose h2 {
  padding-top: 80px;
  margin-top: -40px;
}
.prose h2:first-child {
  padding-top: 80px;
  margin-top: -80px;
}

div.affix {
  width: 25%;
  max-width: 300px;
  padding-right: 1em;
}

@media(max-width:767px) {
  .prose h2:first-child {
    padding-top: 0px;
    margin-top: 0;
  }

  div.affix {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
  }

  #toc {
    display: none;
  }
}

.uppercase {
    text-transform: uppercase;
}

.navbar, .navbar a, .navbar a:hover {
    color: {{ site.color.text-light }};
}

nav a, .nav a {
    text-decoration: none;
    font-weight: 500;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a {
  color: {{ site.color.text }};
  text-decoration: underline;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: {{ site.color.text }};
    text-decoration-color: {{ site.color.text }};
}

footer a,
.page a {
  color: {{ site.color.links-white }};
}

footer a:hover,
footer a:focus,
.page a:hover,
.page a:focus {
    color: white;
    text-decoration-color: {{ site.color.links-white }};
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 0.5px solid {{ site.color.primary-light }};
    background-color: {{ site.color.primary-dark }};
    font-weight: 500;
}

.navbar-custom .navbar-brand {
    font-weight: normal;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    font-weight: 700;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus{
    outline: 0;
    background-color: rgba(255,255,255,.15);
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out, color 0.5s ease-in-out, opacity 0.5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out, color 0.5s ease-in-out, opacity 0.5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out, color 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }

    .top-nav-collapse, .stay-collapsed {
        padding: 0;
        background-color: {{ site.color.primary-dark }};
        border-bottom: 0.5px solid {{ site.color.primary-light }};
    }

    .navbar-custom.top-nav-collapse {
        background-color: {{ site.color.primary-dark }};
        border-bottom: 0.5px solid {{ site.color.primary-light }};
    }

    .navbar a, .navbar a:hover {
        color: {{ site.color.primary-light }};
    }

    a.navbar-brand {
        display: inline-block;
        opacity: 0;
        width: 0;
        overflow: hidden;
    }

    .navbar-custom.top-nav-collapse a, .stay-collapsed a,
    .navbar-custom.top-nav-collapse a:hover, .stay-collapsed a:hover {
        opacity: 1;
        width: auto;
        color: {{ site.color.text-light }};
    }
}

.toc ul {
  margin-left: 20px;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background-image: url(./img/hd-autumn.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: bottom;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .logo {
    font-size: 40px;
    text-align: center;
    display: inline-block;
    width: 300px;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .logo {
        font-size: 100px;
        padding-bottom: 60px;
        margin-left: 8%;
        float: left;
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 14px 13px;
    border-radius: 35px;
    font-size: 40px;
    color: {{ site.color.text-light }};
    background-color: {{ site.color.primary-dark }};
    -webkit-transition: background .3s ease-in-out, text .3s ease-in-out;
    -moz-transition: background .3s ease-in-out, text .3s ease-in-out;
    transition: background .3s ease-in-out, text .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: {{ site.color.primary-light }};
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(/img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: {{ site.color.primary-dark }};
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 300px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 200px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
    }
}

.btn {
    text-transform: uppercase;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid {{ site.color.links }};
    color: {{ site.color.links }};
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid {{ site.color.links }};
    outline: 0;
    color: {{ site.color.primary-dark }};
    background-color: {{ site.color.links }};
}

ul.banner-social-buttons {
    margin-top: 0;
}

ul.banner-social-buttons li {
    margin-bottom: 15px;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    color: {{ site.color.links-white }};
}

footer p {
    margin: 0;
}

footer ::selection,
.page ::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

footer ::-moz-selection,
.page ::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

footer img::selection,
.page img::selection {
    background: 0 0;
}

footer img::-moz-selection,
.page img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}



/* About
------------------------------------------------------- */
#about {
  background-color: {{ site.color.primary-dark }};
}
#about.keyline-top {
}
#about.keyline-bottom {
}

.dotted {
  opacity: 0.4;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2.25em 1.6875em;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
  z-index: 0;
}

h3.small-title {
    color: {{ site.color.link }};
    position: relative;
    margin-bottom: 25px;
    font-size: 20px;
}

h3.small-title:before {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background-color: {{ site.color.primary-light }};
    position: absolute;
    bottom: -13px;
    left: 0px;
}

@font-face {
    font-family:'d-din';
    src:url('fonts/D-Din/D-DIN.otf') format("opentype");
    font-weight:normal;
    font-style:normal;
}

span.numeral {
    font-family: 'd-din'
}

.keyline-bottom-thick {
    padding-bottom: 10px;
}
.keyline-bottom-thick:before {
    content: '';
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: #FFE0A8;
    position: absolute;
    bottom: -9px;
    left: 0px;
}

.icon:before {
  line-height: inherit;
}



/* Newsletter
------------------------------------------------------- */
#newsletter {
    background-color: {{ site.color.primary-light }};
}

.with-icon input[type=email] {
    padding-left: 36px;
    font-size: 17px;
    color: #222;
}

.dark textarea:focus, .dark input[type=password]:focus, .dark input[type=text]:focus, .dark input[type=date]:focus, .dark input[type=email]:focus, .dark input[type=number]:focus {
    border-color: rgba(255,255,255,0.75);
    color: #7E91FF;
}

#newsletter .button {
    background-color: {{ site.color.primary-dark }};
    color: {{ site.color.links-white }};
    font-size: 17px;
    -webkit-transition: background .3s ease-in-out, color .3s ease-in-out;
    -moz-transition: background .3s ease-in-out, color .3s ease-in-out;
    transition: background .3s ease-in-out, color .3s ease-in-out;
}

#newsletter .button:hover, #newsletter .button.active {
    background-color: #baad11;
    color: white;
}

input#mce-EMAIL::selection {
    background-color: #ddd;
}

.input-pull .dot-button:hover {
    background-color: #04021e !important;
}


#footer {
    line-height: 35px;
    background-color: {{ site.color.primary-dark }};
}

#footer a {
    font-size: 19px;
}

#footer a.light {
    font-size: 100%;
    font-weight: normal;
}

.map-container {
    position: relative;
}

/* Navigation
------------------------------------------------------- */

nav {
  font-size: 15px;
}
nav .navbar-brand {
  font-size: 18px;
}

.navbar-brand {
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-toggle {
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 4px;
}

/* table of contents */

#toc ul li {
  margin-bottom: 0;
}

#toc li a {
  padding: 6px 12px;
}

#toc li a:hover, #toc li a:focus {
  background-color: rgba(0, 0, 0, .05);
}

#toc li.active a:after {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background-color: {{ site.color.primary-dark }};
  position: absolute;
  bottom: 0px;
}


/* Sponsors
------------------------------------------------------- */

#sponsors {
    background-color: {{ site.color.primary-dark }};
    color: {{ site.color.links-white }};
}

#sponsoring-interested {
    padding-bottom: 80px;
    @media only screen and (max-width: 767px) {
        padding-bottom: 40px;
    }
}

#sponsors a img {
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    filter: grayscale(1);
    display: inline-block;
    max-width: 100%;
}

#sponsors a {
    color: {{ site.color.links-white }};
}

#sponsors a:hover {
    opacity: .7;
}

#sponsors a.sponsor {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    text-align: center;
    width: 160px;
    height: 70px;
}

#sponsors .supporter a.sponsor,
#sponsors .platinum a.sponsor {
    width: auto;
    height: auto;
}

#sponsors .sponsors.platinum {
  font-size: 150%;
}

#sponsors .sponsors.gold {
  font-size: 135%;
}

#sponsors .sponsors.silver {
  font-size: 115%;
}

#sponsors div.platinum img {
    filter: grayscale(0);
}

#sponsors div.platinum h4 {
  font-size: 1em;
  margin-top: 6px;
}


p img.bio-pic {
  height:160px;
  float:right;
  clear:right;
  margin-left: 1em;
  margin-bottom: 0.5em;
  margin-top: 1.7em;
  filter:grayscale(1);
}



/* Mobile
------------------------------------------------------- */

@media only screen and (max-width:767px) {
    .intro-body .col4 {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 0px;
    }
    form .icon.mail:before {
      content: "\e653";
      position: absolute !important;
      left: 0px;
    }
}


/* tracks */

.trackicon:before {
  content: "";
  display: inline-block;
  height: 0px;
  width: 0px;
  border: 5px solid;
  border-radius: 5px;
  margin-bottom: 2px;
  margin-right: 8px;
  vertical-align: baseline;
}

.trackicon#track-basics:before {
  border-color: #96E185;
}

.trackicon#track-community:before {
  border-color: #FC9294;
}

.trackicon#track-mapping:before {
  border-color: #FFA5EA;
}

.trackicon#track-cartography:before {
  border-color: #91F7F7;
}

.trackicon#track-software:before {
  border-color: #FFFF99;
}

.trackicon#track-data:before {
  border-color: #FFCF3F;
}

.trackicon#track-experiences:before {
  border-color: #C7C7F9;
}

.trackicon#track-academic:before {
  border-color: #dddddd;
}

/* maps */

.map-icon {
  filter: drop-shadow(0 0 2px white);
}

/* schedule table */
table.scheduleTable thead td {
    border-style: none;
    background-color: {{ site.color.primary-dark }};
    color: {{ site.color.text-light }};
}

table.scheduleTable span.speaker,
table.scheduleTable span.extraTag {
    letter-spacing: 0;
    display: block;
}

table.scheduleTable span.speaker {
    margin-top: 5px;
    font-size: 14px;
}

table.scheduleTable span.extraTag {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 100%;
}

td.scheduleBreak {
    text-align: center;
}

/* no recording icons in schedule */
img.noRecordingBright,
img.noRecordingDark {
    display: inline;
}

img.noRecordingBright {
    margin-left: 10px;
}

img.noRecordingDark {
    margin-right: 10px;
    margin-bottom: 0px;
}

/* sessions */
.abstract-time,
.abstract-room {
    font-size: 20px;
}

.abstract-speaker {
    font-size: 18px;
}

.abstract-speaker,
.abstract-no-recording {
    font-style: italic;
}

.program-page ul.abstract-speaker {
    list-style: none;
    margin-left: 0;
}
