body {
    width: 100%;
    height: 100%;
    /*font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Varela Round',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

h1.purple-text {
    color: #7e91ff;
}

.dark h2 span {
    color: #B3BAE2;
}
.uppercase {
    text-transform: uppercase;
}

a {
    color: {{ site.color.links }};
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #11505d;
}


.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    font-family: 'Varela Round',"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: {{ site.color.primary-dark }};
    font-weight: bold;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li.active {
    outline: none;
    /*background-color: rgba(255,255,255,.05);*/
}
.navbar-custom .nav li.active  a {
  /*color: #7E91FF;*/
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a.active {
    color: #7e91ff;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus{
    outline: 0;
    background-color: rgba(255,255,255,.05);
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse, .stay-collapsed {
        padding: 0;
        background-color: #040528;
    }

    .navbar-custom.top-nav-collapse {
      border-bottom: 1px solid rgba(110, 128, 228, 0.39);
      background: #040528;
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(img/intro-bg.jpg) no-repeat center center scroll;
    background-color: {{ site.color.primary-dark }};
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 25px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 14px 13px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(/img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: {{ site.color.primary-dark }};
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 200px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    text-transform: uppercase;
    font-family: 'Varela Round',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid {{ site.color.links }};
    color: {{ site.color.links }};
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid {{ site.color.links }};
    outline: 0;
    color: {{ site.color.primary-dark }};
    background-color: {{ site.color.links }};
}

ul.banner-social-buttons {
    margin-top: 0;
}

ul.banner-social-buttons li {
    margin-bottom: 15px;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}



/* About
------------------------------------------------------- */
#about.keyline-top {
    border-top: 1px solid rgba(145, 168, 255, 0.59);
}
#about.keyline-bottom {
    border-bottom: 1px solid rgba(145, 168, 255, 0.59);
}

.dotted {
  opacity: 0.4;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2.25em 1.6875em;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
  z-index: 0;
}

h3.small-title {
    color: #7e91ff;
    position: relative;
    margin-bottom: 25px;
    font-size: 20px;
}

h3.small-title:before {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background-color: #7e91ff;
    position: absolute;
    bottom: -13px;
    left: 0px;
}

p.varela {
    font-family: 'Varela Round',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
}

.keyline-bottom-thick {
    padding-bottom: 10px;
}
.keyline-bottom-thick:before {
    content: '';
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: #FFE0A8;
    position: absolute;
    bottom: -9px;
    left: 0px;
}

.icon.heart.icon-pink:before {
    content: "\e63e";
    color: #FC306B;
    font-size: 33px;
    width: 33px;
    height: 33px;
    padding-top: 3px;
}



/* Newsletter
------------------------------------------------------- */

input[type=email].dot-field  {
  background: white;
  border-color: #eee;
  border-color: rgba(255,255,255,0.25);
  color: #7E91FF;
  box-shadow: none;
  border-radius: 30px 0px 0px 30px;
  padding-left: 40px;
}

.dark textarea:focus, .dark input[type=password]:focus, .dark input[type=text]:focus, .dark input[type=date]:focus, .dark input[type=email]:focus, .dark input[type=number]:focus {
    border-color: rgba(255,255,255,0.75);
    color: #7E91FF;
}

.input-pill .dot-button {
  border-left-width: 0;
  border-radius: 0 30px 30px 0;
  font-family: 'Varela Round',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
}

#newsletter .button:hover, .button.active {
    background-color: #0B0C3E;
}

input#mce-EMAIL::selection {
    background-color: #ddd;
}

.input-pull .dot-button:hover {
    background-color: #04021e !important;
}


#footer {
    font-family: 'Varela Round';
    font-size: 17px;
    line-height: 35px;
    font-weight: bold;
}

.map-container {
    height: 500px;
    position: relative;
}
#mapbox-map { position:absolute; top:0; bottom:0; width:100%; height: 100%;}





