---
layout: default
color: no-logo program-page
color: dark-nav
---
<div class='keyline-top pad8y program-page'>
  <div class='limiter'>
    <div class='pad4y col12 clearfix prose min-height'>
      <h1>{{page.title}}</h1>

      <section class='col3'>
        <p><span class='abstract-room'>Room: {{page.room}}</span></p>
        <p><span class='abstract-time'>{{page.time}}</span></p>
        {% unless page.recording %}
          <p><span class='abstract-no-recording'><img src="/img/novideo-dark.svg" class="noRecordingDark" height="25" alt="no recording" title="This session will not be recorded."> This event will not be recorded.</span></p>
        {% endunless %}

        <hr class="space-right4">

        <a href='/program/#session_{{page.code}}'>Back to schedule</a>
      </section>
      <section class='col9'>
        <ul class='abstract-speaker'><li>{{page.speaker_names_with_affiliations | join: '</li><li>' }}</li></ul>

        {{content}}

      </section>
    </div>
  </div>
</div>
