---
layout: default
color: no-logo program-page
color: dark-nav
---
<div class='keyline-top pad8y program-page'>
  <div class='limiter'>
    <div class='pad4y col12 clearfix prose min-height'>
      <h1>{{page.title}}</h1>
      {% if page.subtitle %}<h2 class="abstract-subtitle">{{page.subtitle}}</h2>{% endif %}

      <section class='col3'>
        <p><span class='abstract-room'>Room: {{page.room}}</span></p>
        <p><span class='abstract-time'>{{page.time}}</span></p>
        {% unless page.recording or page.recordings %}
          <p><span class='abstract-no-recording'><img src="/img/novideo-dark.svg" class="noRecordingDark" height="25" alt="no recording" title="This session was not recorded."> This event was not recorded.</span></p>
        {% endunless %}

        <hr class="space-right4">

        {% if page.doi %}<p><span class='abstract-doi'><a href="https://doi.org/{{page.doi}}">full abstract - pdf</a></span></p>{% endif %}
        {% for r in page.resources %}{% if r.description != 'full abstract' %}
        <p><span class='abstract-doi'><a href="{{r.url}}">{{r.description}}</a></p>
        {% endif %}{% endfor %}

        <hr class="space-right4">

        <a href='/academic_programme/#session_{{page.code}}'>Back to schedule</a>
      </section>
      <section class='col9'>
          <ul class='abstract-speaker'>
              {% for sp in page.speaker_names_with_affiliations %}
                  {% assign speaker_parts = sp | split: ";" %}
                  <li>{{ speaker_parts[0] }}, {{ speaker_parts[1] }}</li>
              {% endfor %}
          </ul>

        {{content}}

        {% if page.recordings %}
        <video controls width="100%" poster="/img/video-posters/video-{{ page.code }}.jpeg">
        {% for rec in page.recordings %}
          <source src="{{ rec.recording_url }}" type="{{ rec.mime_type }}">
        {% endfor %}
        </video>
        {% endif %}
        <p>
        {% if page.voc %}<a href="{{ page.voc }}">This recording on media.ccc.de</a><br>{% endif %}
        {% if page.youtube %}<a href="https://www.youtube.com/watch?v={{ page.youtube }}">This recording on YouTube</a>{% endif %}
        </p>

      </section>
    </div>
  </div>
</div>
